In [2]:
import numpy as np
import pandas as pd
scores=np.random.randint(50,100,size=(50,5))
scores_df=pd.DataFrame(scores,
                       columns=['國文','英文','數學','地理','歷史'],
                       index=range(1,51))
scores_df
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values

In [11]:
scores_df.sort_values(by='總分',ascending=False).iloc[:5]

    國文  英文  數學  地理  歷史   總分    平均
29  92  90  73  96  97  448  89.6
16  90  58  97  99  89  433  86.6
47  81  94  89  90  77  431  86.2
7   96  86  82  64  98  426  85.2
41  92  67  99  73  92  423  84.6

In [21]:
#使用subscript[]過濾資料
scores_df[scores_df['平均']<70]

    國文  英文  數學  地理  歷史   總分    平均
1   58  51  83  52  99  343  68.6
2   66  94  63  52  61  336  67.2
4   77  52  71  63  83  346  69.2
14  52  67  50  67  76  312  62.4
15  69  77  54  76  65  341  68.2
17  52  63  87  77  62  341  68.2
20  54  89  62  83  55  343  68.6
23  56  50  60  64  87  317  63.4
25  53  98  71  70  54  346  69.2
31  67  62  58  78  59  324  64.8
32  50  83  66  83  55  337  67.4
36  52  51  88  82  75  348  69.6
37  72  61  81  74  50  338  67.6
40  53  76  63  81  69  342  68.4
44  77  61  79  75  51  343  68.6
45  55  85  60  70  67  337  67.4
50  52  71  62  79  50  314  62.8

In [18]:
scores_df[scores_df['平均']<70].count()

國文    17
英文    17
數學    17
地理    17
歷史    17
總分    17
平均    17
dtype: int64

In [22]:
#平均80以下，歷史不及格
scores_df[(scores_df['平均']<80) & (scores_df['歷史']<60)]

    國文  英文  數學  地理  歷史   總分    平均
8   70  71  91  78  52  362  72.4
9   89  76  55  99  51  370  74.0
12  84  98  77  80  59  398  79.6
19  98  81  91  72  57  399  79.8
20  54  89  62  83  55  343  68.6
21  70  74  87  86  51  368  73.6
25  53  98  71  70  54  346  69.2
26  76  86  52  84  55  353  70.6
31  67  62  58  78  59  324  64.8
32  50  83  66  83  55  337  67.4
33  91  80  88  80  51  390  78.0
37  72  61  81  74  50  338  67.6
44  77  61  79  75  51  343  68.6
50  52  71  62  79  50  314  62.8

In [27]:
#使用query()的搜尋
scores_df.query('平均<70')

    國文  英文  數學  地理  歷史   總分    平均
1   58  51  83  52  99  343  68.6
2   66  94  63  52  61  336  67.2
4   77  52  71  63  83  346  69.2
14  52  67  50  67  76  312  62.4
15  69  77  54  76  65  341  68.2
17  52  63  87  77  62  341  68.2
20  54  89  62  83  55  343  68.6
23  56  50  60  64  87  317  63.4
25  53  98  71  70  54  346  69.2
31  67  62  58  78  59  324  64.8
32  50  83  66  83  55  337  67.4
36  52  51  88  82  75  348  69.6
37  72  61  81  74  50  338  67.6
40  53  76  63  81  69  342  68.4
44  77  61  79  75  51  343  68.6
45  55  85  60  70  67  337  67.4
50  52  71  62  79  50  314  62.8

In [25]:
scores_df.query('平均<80 and 歷史<60')

    國文  英文  數學  地理  歷史   總分    平均
8   70  71  91  78  52  362  72.4
9   89  76  55  99  51  370  74.0
12  84  98  77  80  59  398  79.6
19  98  81  91  72  57  399  79.8
20  54  89  62  83  55  343  68.6
21  70  74  87  86  51  368  73.6
25  53  98  71  70  54  346  69.2
26  76  86  52  84  55  353  70.6
31  67  62  58  78  59  324  64.8
32  50  83  66  83  55  337  67.4
33  91  80  88  80  51  390  78.0
37  72  61  81  74  50  338  67.6
44  77  61  79  75  51  343  68.6
50  52  71  62  79  50  314  62.8